GITHUB_TOKEN=github_fine_grained_token
GITHUB_OWNER=github_kullanici_veya_organizasyon
GITHUB_REPO=depo_adi
GITHUB_BRANCH=main
ADMIN_PASSWORD=en_az_12_karakter_guclu_parola
ADMIN_SESSION_SECRET=en_az_32_karakter_rastgele_deger
VERCEL_DEPLOYMENTS_URL=https://vercel.com/takim/proje/deployments
